<app-search-input *ngIf="settings?.enableSearch" [placeholder]="settings?.searchPlaceholder"
    (inputChanged)="searchHandler($event)"></app-search-input>
<div class="data-table" [ngClass]="{'margin-top-60': !settings?.enableSearch}">
    <div class="data-table__content">
        <div *ngFor="let column of settings?.columns" class="data-table__content-column">
            <div class="data-table__content-column--header">
                <app-sort-title *ngIf="column.sort" [column]="column" [isSortField]="isSortField(column.propertyName)"
                    [isAscending]="isAscending(column.propertyname)" (sortChanged)="setSort($event)">
                </app-sort-title>
                <span *ngIf="!column.sort">{{column.displayName | uppercase}}</span>
            </div>
            <app-table-cell *ngFor="let record of data; let i=index" class="data-table__content-column--cell"
                [record]="record" [column]="column" (editFinished)="saveCell($event)">
            </app-table-cell>
        </div>
    </div>
    <div class=" data-table__footer">

        <app-pagination [totalPages]="settings?.totalPages" [currentPage]="settings?.currentPage"
            (pageChanged)="setPage($event)" [pageSizes]="settings?.pageSizes"
            [currentPageSize]="settings?.currentPageSize" (pageSizeChanged)="setPageSize($event)">
        </app-pagination>

    </div>
</div>