@include font-face("Segoe UI", "../../assets/fonts/Segoe UI", normal, normal);

html {
    font-family: "Segoe UI";
    font-size: ($global-font-size / 16px) * 1em;
    line-height: $global-line-height / $global-font-size; 
    padding-bottom: 0;
    background-color: map-get($map: $ui-colors, $key: "just-white")
}