<!-- This header is for presentation purposes that's why it doesn't have its own component and the title/user name are
hard-coded. -- MT -->

<header class="header bg-color--just-white">

    <div class="header__logo">
        <img class="display-none-mobile" src="../assets/images/Nirvana.png" alt="Nirvana Logo">
        <img class="display-none-desktop" src="../assets/images/Nirvana_mob.png" alt="Nirvana Logo">
    </div>
    <div class="header__title margin-left-20">
        <h1>Events</h1>
    </div>


    <div class="header__user margin-right-30">
        <img class="u-image--round" src="../assets/images/fb3.jpg" alt="User Image">
        <span class="display-none-mobile margin-left-5">Merve T.</span>
    </div>


</header>

<main>

</main>