@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Segoe UI.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Segoe UI Italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Segoe UI Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Segoe UI Bold Italic.woff') format('woff');
  }


@mixin font-face($weight: 'regular', $style: null) {
  @if $weight == 'bold' {
    @if $style == 'italic' {
      font-family: 'Segoe UI Bold Italic';
    }
    @else {
      font-family: 'Segoe UI Bold';
    }
  }
  @else {
    @if $style == 'italic' {
      font-family: 'Segoe UI Italic';
    }
    @else {
      font-family: 'Segoe UI';
    }
  }
}
