@import '../../../../styles/settings/settings.colors';

:host {
    display: inline-block;
}

.sort-title {
    cursor: pointer;
    display: flex;
    &:hover,&--selected {
        color: map-get($ui-colors, hover-color);
      }   
}

.material-icons {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0.5;    
}